<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>ตารางซื้อขยะ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
