.btn-item  {
    color: black;
}

.post-menu  {
    color: #FF0000(255, 0, 0);
}
.menu-item {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

.menu-item a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.menu-item img {
    margin-bottom: 10px;
}
.title {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
.btn-logout  {
    color: rgb(255, 0, 0);
}