<ion-header>
  <ion-toolbar color="warning">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>เพิ่มรายการขยะ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label position="floating">รายการขยะ/ประเภท</ion-label>
      <ion-input [(ngModel)]="p_name"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">ราคา/ต่อ กก.</ion-label>
      <ion-input [(ngModel)]="p_price"></ion-input>
  </ion-item>
  <ion-button id="btn-save" color="tertiary" expand="block" size="small" (click)="save()">บันทึก</ion-button>
</ion-content>