<ion-header>
  <ion-toolbar color="tertiary">

      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>

      <ion-title>ประวัติ</ion-title>
      
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
      <ion-card *ngFor="let user of users" class="menu-item" >
      <ion-card-content>
        <h2>ประเภทขยะ: {{ user.p_name }}</h2>
        <h2>น้ำหนัก: {{ user.weight }} กก.</h2>
        <h2>ราคาต่อ กก.: {{ user.p_price }} บาท</h2>
        <h2>ราคารวม: {{ user.total }} บาท</h2>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>