<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" *ngIf="user_type=='member'">
      <ion-icon name="map"></ion-icon>
      <ion-label>ขายขยะ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" *ngIf="user_type=='rider'">
      <ion-icon name="map"></ion-icon>
      <ion-label>ออเดอร์</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>ตัวฉัน</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  

</ion-tabs>
