<ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
        <ion-title> ขายขยะ </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div>
        <div class="title" *ngIf="user_type=='member'">เลือกรายการที่ต้องการ</div>
        <ion-button class="btn-item" color="danger" expand="block" size="large" routerLink="/menu-post-sell" *ngIf="user_type=='member'">
            <div>ฉันต้องการขายขยะ</div>
        </ion-button>
    </div>

    <div class="title">รายการ</div>
      <ion-grid>
        <ion-row>
            <!--สำหรับadmin-->
            <!--แสดงเมนูสำหรับแอดมิน คำสั่ง  *ngIf="user_type=='admin'" -->
            <ion-col class="menu-item" *ngIf="user_type=='admin'">
                <a routerLink="/menu-table">
                    <img src="assets/icon/search.png">
                    <div>ผู้ที่ขายแล้ว</div>
                </a>
            </ion-col>

            <!--สำหรับmember-->
            <!--แสดงเมนูสำหรับmember คำสั่ง  *ngIf="user_type=='member'" -->
            <ion-col class="menu-item" *ngIf="user_type=='member'">
                <a routerLink="/menu-member">
                    <img src="assets/icon/list.png">
                    <div>รายการของฉัน</div>
                </a>
            </ion-col>
            <ion-col class="menu-item" *ngIf="user_type=='member'">
                <a routerLink="/menu-member">
                    <img src="assets/icon/checklist.png">
                    <div>ขายสำเร็จ</div>
                </a>
            </ion-col>

             <!--สำหรับrider-->
             <!--แสดงเมนูสำหรับrider คำสั่ง  *ngIf="user_type=='rider'" -->
             <ion-col class="menu-item" *ngIf="user_type=='rider'">
                <a routerLink="/menu-member-get">
                    <img src="assets/icon/list.png">
                    <div>รายการลงขาย</div>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
