.menu-item {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

.menu-item a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

.menu-item img {
    margin-bottom: 10px;
}

.menu-item {
    margin-top: 30px;
    font-size: 14px;
}
.menu-text-price {
    margin-left:25px;


}
h2 {
    color: rgb(0, 0, 0);
  }
  
.title {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -5px;
    font-size: 23px;
}

.text-color  {
    color: black;
}