<ion-header [translucent]="true" *ngIf="user_type=='admin'">
    <ion-toolbar color="warning" >
        <ion-title>
            สำหรับadmin
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-header [translucent]="true" *ngIf="user_type=='member'">
    <ion-toolbar color="tertiary" >
        <ion-title>
            สำหรับผู้ขายขยะ
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-header [translucent]="true"  *ngIf="user_type=='rider'">
      <ion-toolbar color="success" >
          <ion-title>
            สำหรับผู้รับซื้อขยะ
          </ion-title> 
      </ion-toolbar>
    </ion-header>
  <!--สิ้นสุด header-->


<ion-content [fullscreen]="true">
  <ion-grid>
      <ion-row>
          <!--สำหรับแอดมิน-->
        <ion-col class="menu-item" *ngIf="user_type=='admin'">
            <a routerLink="/product-get">
                <img src="assets/icon/trash.png">
                <div>ราคาขยะ</div>
            </a>
        </ion-col> 

          <!--สำหรับrider-->
          <ion-col class="menu-item" *ngIf="user_type=='rider'">
            <a routerLink="/product-get">
                <img src="assets/icon/trash.png">
                <div>ราคาขยะ</div>
            </a>
        </ion-col> 

        <!--สำหรับmember-->
          <ion-col class="menu-item"  *ngIf="user_type=='member'">
              <a routerLink="/product-get">
                  <img src="assets/icon/trash.png">
                  <div>ราคาขยะ</div>
              </a>
          </ion-col>

          <ion-col class="menu-item">
            <a routerLink="/menu-newspaper">
                <img src="assets/icon/newspaper.png">
                <div>ข่าวสาร</div>
            </a>
        </ion-col>
      </ion-row>
      <ion-row>
     <!--สำหรับบรรทัดถัดไป-->
    </ion-row>
  </ion-grid>
</ion-content>