<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>location</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- {{ lat }}, {{ lng }} -->
    <div #mapElement class="map"></div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
    <ion-toolbar color="translucent">
      <ion-button expand="block" class="main-button" routerLink="/order-confirm" routerDirection="forward" >ตกลง</ion-button>
    </ion-toolbar>
  </ion-footer>
  