<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>แก้ไข </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">ชื่อ</ion-label>
        <ion-input [(ngModel)]="user_name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">นาสกุล</ion-label>
        <ion-input [(ngModel)]="user_lastname"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">เบอร์โทร</ion-label>
        <ion-input [(ngModel)]="user_phone"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">ที่อยู่</ion-label>
        <ion-input [(ngModel)]="user_address"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">username</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-label position="floating">ระดับ/สถานะ</ion-label>
    <ion-select placeholder="โปรดเลือก" [(ngModel)]="user_type">
        <ion-select-option value="admin">admin</ion-select-option>
        <ion-select-option value="rider">rider</ion-select-option>
        <ion-select-option value="member">member</ion-select-option>
    </ion-select>
    <ion-button
        id="btn-save"
        color="warning"
        expand="block"
        size="small"
        (click)="edit()">แก้ไข</ion-button>
</ion-content>
