<ion-header>
  <ion-toolbar color="success">

      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>

      <ion-title>ตรวจสอบรายการอีกครั้ง</ion-title>
      
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
      <ion-card class="menu-item" >
      <ion-card-content>
        <h2 >ประเภทขยะ: พลาสติกใส่</h2>
        <h2 >น้ำหนัก: 5 กก.</h2>
        <h2 >ราคาต่อ กก.: 5 บาท</h2>
        <h2 >ราคารวม: 25 บาท</h2>
        </ion-card-content>
        <ion-button
                color="danger"
                expand="block"
                size="small"
                routerLink="/history-rider">
                ยืนยันรับซื้อ
         </ion-button>
      </ion-card>
    </div>
</ion-content>