.image {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.fullname {
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.username {
    text-align: center;
}

.phone {
    text-align: center;
}
.menu-item {
    text-align: center;
    margin-top: 10px;
    color: crimson;
}